USE [master]
GO
/****** Object:  Database [TTP_Database]    Script Date: 13/06/2022 5:06:17 CH ******/
CREATE DATABASE [TTP_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TTP_Database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TTP_Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TTP_Database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TTP_Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TTP_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TTP_Database]
GO
/****** Object:  Table [dbo].[Buyer]    Script Date: 13/06/2022 5:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer](
	[buyerId] [nchar](10) NOT NULL,
	[Username] [nchar](32) NULL,
	[Password] [nchar](32) NULL,
	[amount] [nchar](30) NULL,
 CONSTRAINT [PK_Buyer] PRIMARY KEY CLUSTERED 
(
	[buyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfirmOderRequest]    Script Date: 13/06/2022 5:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfirmOderRequest](
	[corId] [int] IDENTITY(1,1) NOT NULL,
	[transId] [nchar](30) NULL,
	[statusCode] [nchar](10) NULL,
	[payUrl] [nvarchar](max) NULL,
	[signature] [nvarchar](max) NULL,
 CONSTRAINT [PK_ConfirmOderRequest] PRIMARY KEY CLUSTERED 
(
	[corId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Merchant]    Script Date: 13/06/2022 5:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merchant](
	[shopId] [nchar](10) NOT NULL,
	[MerchantName] [nvarchar](30) NULL,
	[amount] [nchar](30) NULL,
	[accessKey] [nvarchar](100) NOT NULL,
	[serectKey] [nvarchar](100) NOT NULL,
	[Address] [nchar](50) NULL,
 CONSTRAINT [PK_Merchant] PRIMARY KEY CLUSTERED 
(
	[shopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OderRequest]    Script Date: 13/06/2022 5:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OderRequest](
	[transId] [nchar](30) NOT NULL,
	[amount] [nchar](30) NULL,
	[shopId] [nchar](10) NULL,
	[oderInfo] [nvarchar](50) NULL,
	[responseTime] [nchar](30) NULL,
	[signature] [nvarchar](max) NULL,
 CONSTRAINT [PK_OderRequest] PRIMARY KEY CLUSTERED 
(
	[transId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderPaymentReceipt]    Script Date: 13/06/2022 5:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderPaymentReceipt](
	[oprId] [int] IDENTITY(1,1) NOT NULL,
	[transId] [nchar](30) NULL,
	[amount] [nchar](30) NULL,
	[statusCode] [nchar](10) NULL,
	[responseTime] [nchar](30) NULL,
	[signature] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrderPaymentReceipt] PRIMARY KEY CLUSTERED 
(
	[oprId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentRequest]    Script Date: 13/06/2022 5:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentRequest](
	[paymentId] [int] IDENTITY(1,1) NOT NULL,
	[transId] [nchar](30) NULL,
	[amount] [nchar](30) NULL,
	[buyerId] [nchar](10) NULL,
	[responseTime] [nchar](30) NULL,
	[signature] [nvarchar](max) NULL,
 CONSTRAINT [PK_PaymentRequest] PRIMARY KEY CLUSTERED 
(
	[paymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConfirmOderRequest]  WITH CHECK ADD  CONSTRAINT [FK_ConfirmOderRequest_OderRequest] FOREIGN KEY([transId])
REFERENCES [dbo].[OderRequest] ([transId])
GO
ALTER TABLE [dbo].[ConfirmOderRequest] CHECK CONSTRAINT [FK_ConfirmOderRequest_OderRequest]
GO
ALTER TABLE [dbo].[OderRequest]  WITH CHECK ADD  CONSTRAINT [FK_OderRequest_Merchant] FOREIGN KEY([shopId])
REFERENCES [dbo].[Merchant] ([shopId])
GO
ALTER TABLE [dbo].[OderRequest] CHECK CONSTRAINT [FK_OderRequest_Merchant]
GO
ALTER TABLE [dbo].[OrderPaymentReceipt]  WITH CHECK ADD  CONSTRAINT [FK_OrderPaymentReceipt_OderRequest] FOREIGN KEY([transId])
REFERENCES [dbo].[OderRequest] ([transId])
GO
ALTER TABLE [dbo].[OrderPaymentReceipt] CHECK CONSTRAINT [FK_OrderPaymentReceipt_OderRequest]
GO
ALTER TABLE [dbo].[PaymentRequest]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRequest_Buyer] FOREIGN KEY([buyerId])
REFERENCES [dbo].[Buyer] ([buyerId])
GO
ALTER TABLE [dbo].[PaymentRequest] CHECK CONSTRAINT [FK_PaymentRequest_Buyer]
GO
ALTER TABLE [dbo].[PaymentRequest]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRequest_OderRequest] FOREIGN KEY([transId])
REFERENCES [dbo].[OderRequest] ([transId])
GO
ALTER TABLE [dbo].[PaymentRequest] CHECK CONSTRAINT [FK_PaymentRequest_OderRequest]
GO
USE [master]
GO
